/* STILIZZAZIONE HEADER */
header{
    height: 100px;

    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 20%
}

#main-logo{
    height: 40px;
    margin-top: 50px;
    margin-left: 10px;
}

/* STILIZZAZIONE MAIN */