/* STILIZZAZIONE HEADER */
header{
    height: 100px;

    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 20%
}

#main-logo{
    height: 40px;
    margin-top: 50px;
    margin-left: 10px;
}

/* STILIZZAZIONE MAIN */
h1{
    /* font-size: 24px */
    font-size: 3em;
}

.small-size{
    font-size: 11px;
}

.gray-text{
    color: #bbbbbb;
}

#author-link{
    color:#20a9e5;
    text-decoration: none;
}